body{
    background-image: url(imagee.jpg);
}
.topnav{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    background-color: hsl(214deg 71% 75%);
    height: 40px;
    margin: -8px;
    padding: 5px;
    width: 1358px;
}
.topnav a{
    color:#1a3a61f7;
    font-size: 30px;
}
.image{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
img{
    width: 300px;
    border-radius: 90px;
    height: 180px;
}
.one{
    margin-left: 23px;
    font-size: 19px;
    color: black;
}
.two{
    display: flex;
    justify-content: space-evenly;
    margin-top: -279px;
    font-size: 19px;
    margin-left: 65px;
}
.three{
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: -279px;
    font-size: 19px;
}
.q{
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    color: #11565d;
}
#image{
    margin-top:60px;
    display: flex;
    justify-content: space-between;
}
img{
    width: 300px;
    border-radius: 90px;
    height: 180px;
}
#one{
    margin-left: 23px;
    font-size: 19px;
    color: black;
}
#two{
    display: flex;
    justify-content: space-evenly;
    margin-top: -257px;
    font-size: 19px;
    margin-left: 65px;
}
#three{
    display: flex;
    justify-content: flex-end;
    margin-right: -5px;
    margin-top: -190px;
    font-size: 19px;
}
#q{
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    color: #11565d;
}