body{
    background-image: url(sea-edge-79ab30e2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.topnav{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    background-color: hsl(214deg 71% 75%);
    height: 40px;
    margin: -8px;
    padding: 5px;
    width: 1358px;
}
.topnav a{
    color:#1a3a61f7;
    font-size: 30px;
}

.word{
    display: flex;
    margin: 8px;
    justify-content: space-evenly;
    background-image: url(pexels-photo-2469122.jpeg);
    width: 1368px;
    color: #cef10c;
    margin-left: -8px;
    height: 162px;
}
.word div{
    font-size: 52px;
    display: flex;
    justify-content: center;
    margin: 66px;

}
.word div:hover{
    transition: 0.5s;
    transform:translateY(-50px) ;
    
}
.one{
    display: flex;
    justify-content: space-evenly;
}
.two q{
    margin: 5px;
    font-size: 25px;
    margin-right: 56px;
}
.three{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.form{
    background-color: #10165fb8;
    display: flex;
    justify-content: center;
    width: 411px;
    margin-left: 411px;
    height: 418px;
    border-radius: 50px;
}
.form:hover{
    transition: 0.5s;
    transform: translateY(-30px);
}